{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}
    <div class="container">
        <h2>About the Blog</h2>
            <p>My name is Alex Ainoko Idachaba, I am a web developer. I created this blog application project for demo purpose and to help improve my programming skills. You can find the source code of the project at <a href="https://github.com/Alex-Idachaba/Alex-Blog" target='_blank'>Github</a>
            </p>
    </div>
{% endblock content %}