<aside class="col-lg-2">
    <!-- Widget [Latest Posts Widget]        -->
    <div class="widget latest-posts">
    <header>
        <h3 class="h6">The Latest Posts</h3>
    </header>
    <div class="blog-posts" style="height: 50px;">
        {% for post in latest %}
        <a href="{{ post.get_absolute_url }}">
            <div class="item d-flex align-items-center">
                <div class="row">
                    <div class="image"><img src="{{ post.thumbnail.url }}" alt="..." class="img-fluid"></div>
                    <div class="title" style="color:#2e282a;"><strong>{{ post.title }}</strong></div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <!-- Widget [Categories Widget]-->

    {% comment %} <div class="widget categories">
        <header>
            <h3 class="h6">Categories</h3>
        </header>
        {% for cat in category_count %}
        <div class="item d-flex justify-content-between">
            <a href="#">{{ cat.categories__title }}</a><span>{{ cat.categories__title__count }}</span>
        </div>
        {% endfor %}
    </div>  {% endcomment %}
    </div>
</aside>